
.ItemPreviewImage {
    width: 4rem;
    height: 4rem;
    margin: 0.2rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
}

.LiftOnHover {
    transition: 0.1s;
}
.LiftOnHover:hover {
    transform: scale(1.04);
}