.NotificationPanel {
    position: absolute;
    right: 20px;
    top: 50px;
    width: 400px;
    height: 300px;
    border: 1px solid white;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: black;
}